## **Intorduction**

**Context**

This is a historical dataset on the Modern Olympic Games, including all the Games from Sydney 2000 to London 2012. I got this data from our instructor. It contain all athletes wo have won any medal gold, silver or bronze, age of those athletes, they belong to which country, in what year they got their medals with dates and in which respective sport they have won.


**Content**


|**Variable**|**Description**|**Type**|
|-|-|-|
|**name**|name of athlete|categorical|
|**age**|age of athlete|numerical|
|**country**|country from athlete is|categorical|
|**year**|got medal in year|categorical|
|**Date_Given**|got medal in date|categorical|
|**sports**|sport in which medal got |categorical|
|**gold_medal**|number of gold medal won|numerical|
|**silver_medal**|number of silver medal won|numerical|
|**brone_medal**|number of bronze medal won|numerical|
|**total_medal**|total medal won|numerical|


Count of variables we have:

|**Type**|**Count**|
|-|-|
|categorical|5|
|numerical|5|

In [1]:
pip install pyspark # importing the module

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 50.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=2c0d7c27664db9b02af6bc712dd33f2e1319a6bf82dfcdadbd928a188f9f3638
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession

conf = SparkConf().setAppName('MdAliRaza') # configuring SparkConf and setting appname
sc = SparkContext(conf=conf) # creating spark context object
spark = SparkSession.builder.appName('Assignment').getOrCreate() # creating spark object

## **Write PySpark code to read olympix_data.csv file**

In [3]:
file = r'/content/olympix_data.csv' # assinging file location to a variable
df = spark.read.format("csv").option("header", "true").option("inferSchema","true").load(file) # reading file and making dataframe

In [4]:
df.show(5) # viewing our dataframe

+----------------+----+-------------+----+----------+----------+----------+------------+-----------+-----------+
|            name| age|      country|year|Date_Given|    sports|gold_medal|silver_medal|brone_medal|total_medal|
+----------------+----+-------------+----+----------+----------+----------+------------+-----------+-----------+
|  Michael Phelps|23.0|United States|2008|2008-08-24|  Swimming|         8|           0|          0|          8|
|  Michael Phelps|19.0|United States|2004|2004-08-29|  Swimming|         6|           0|          2|          8|
|  Michael Phelps|27.0|United States|2012|2012-08-12|  Swimming|         4|           2|          0|          6|
|Natalie Coughlin|25.0|United States|2008|2008-08-24|  Swimming|         1|           2|          3|          6|
|   Aleksey Nemov|24.0|       Russia|2000|2000-10-01|Gymnastics|         2|           1|          3|          6|
+----------------+----+-------------+----+----------+----------+----------+------------+-----------+-----------+
only showing top 5 rows

## **Write PySpark code to print the Olympic Sports/games in the dataset.**

In [5]:
sports = df.select('sports').distinct() # selecting all sports from the dataset
sports.show(100,truncate=False) # showing all sports category

+-------------------------+
|sports                   |
+-------------------------+
|Gymnastics               |
|Tennis                   |
|Boxing                   |
|Short-Track Speed Skating|
|Ice Hockey               |
|Rowing                   |
|Judo                     |
|Softball                 |
|Sailing                  |
|Swimming                 |
|Alpine Skiing            |
|Basketball               |
|Handball                 |
|Rhythmic Gymnastics      |
|Biathlon                 |
|Triathlon                |
|Badminton                |
|Athletics                |
|Figure Skating           |
|Beach Volleyball         |
|Equestrian               |
|Shooting                 |
|Diving                   |
|Skeleton                 |
|Ski Jumping              |
|Nordic Combined          |
|Wrestling                |
|Speed Skating            |
|Table Tennis             |
|Taekwondo                |
|Canoeing                 |
|Weightlifting            |
|Waterpolo                |
|Baseball                 |
|Modern Pentathlon        |
|Snowboarding             |
|Bobsleigh                |
|Cycling                  |
|Cross Country Skiing     |
|Volleyball               |
|Archery                  |
|Synchronized Swimming    |
|Curling                  |
|Fencing                  |
|Hockey                   |
|Freestyle Skiing         |
|Football                 |
|Luge                     |
|Trampoline               |
+-------------------------+

## **Write PySpark code to plot the total number of medals in  each Olympic Sport/game**

In [6]:
sports_total = df[['sports','total_medal']] # creating a dataframe with variable sports and total medal
sports_total = sports_total.groupby('sports').sum('total_medal') # grouping sports on sum of total medals
sports_total.show(truncate=False) # showing all sports with total medals

+-------------------------+----------------+
|sports                   |sum(total_medal)|
+-------------------------+----------------+
|Gymnastics               |282             |
|Tennis                   |78              |
|Boxing                   |188             |
|Short-Track Speed Skating|138             |
|Ice Hockey               |384             |
|Rowing                   |576             |
|Judo                     |224             |
|Softball                 |134             |
|Sailing                  |210             |
|Swimming                 |765             |
|Alpine Skiing            |90              |
|Basketball               |287             |
|Handball                 |351             |
|Rhythmic Gymnastics      |84              |
|Biathlon                 |138             |
|Triathlon                |24              |
|Badminton                |96              |
|Athletics                |753             |
|Figure Skating           |54              |
|Beach Volleyball         |48              |
+-------------------------+----------------+
only showing top 20 rows

## **Sort the result based on the total number of medals.**

In [7]:
sports_total.sort('sum(total_medal)', ascending = False).show(truncate=False) # sorting in descending order of total medals by sports

+----------+----------------+
|sports    |sum(total_medal)|
+----------+----------------+
|Swimming  |765             |
|Athletics |753             |
|Rowing    |576             |
|Football  |407             |
|Hockey    |386             |
|Ice Hockey|384             |
|Handball  |351             |
|Canoeing  |333             |
|Waterpolo |306             |
|Cycling   |306             |
|Basketball|287             |
|Gymnastics|282             |
|Volleyball|278             |
|Fencing   |256             |
|Wrestling |245             |
|Judo      |224             |
|Baseball  |216             |
|Sailing   |210             |
|Shooting  |192             |
|Boxing    |188             |
+----------+----------------+
only showing top 20 rows

## **Find the total number of medals won by each country in swimming.**

In [8]:
swimming = df.filter(df['sports']== 'Swimming') # filtering dataset to contain only swimming observations
swimming = swimming.groupby('country').sum('total_medal') # grouping country on sum of total medals
swimming.show(truncate = False) # showing all country with total medals in swimming

+-------------+----------------+
|country      |sum(total_medal)|
+-------------+----------------+
|Russia       |20              |
|Sweden       |9               |
|Germany      |32              |
|France       |39              |
|Slovakia     |2               |
|Argentina    |1               |
|Great Britain|11              |
|United States|267             |
|China        |35              |
|Belarus      |2               |
|Croatia      |1               |
|Italy        |16              |
|Lithuania    |1               |
|Norway       |2               |
|Spain        |3               |
|Denmark      |1               |
|Ukraine      |7               |
|South Korea  |4               |
|Zimbabwe     |7               |
|Tunisia      |3               |
+-------------+----------------+
only showing top 20 rows

## **Find the total number of medals won by each country in Skeleton.**

In [9]:
skeleton = df.filter(df['sports']== 'Skeleton') # filtering dataset to contain only skeleton sports
skeleton = skeleton.groupby('country').sum('total_medal') # grouping country on sum of total medals
skeleton.show(truncate = False) # showing all country with total medals in skeleton

+-------------+----------------+
|country      |sum(total_medal)|
+-------------+----------------+
|Russia       |1               |
|Germany      |2               |
|Great Britain|3               |
|United States|3               |
|Switzerland  |3               |
|Latvia       |1               |
|Canada       |4               |
|Austria      |1               |
+-------------+----------------+

## **Find the number of medals that the US won yearly.**

In [10]:
united_states = df.filter(df['country']== 'United States') # filtering dataset to contain only United States country
united_states = united_states.groupby('year').sum('total_medal') # grouping year on sum of total medals
united_states.sort('year').show() # showimg total medals by year, won by US

+----+----------------+
|year|sum(total_medal)|
+----+----------------+
|2000|             243|
|2002|              84|
|2004|             265|
|2006|              52|
|2008|             317|
|2010|              97|
|2012|             254|
+----+----------------+

## **Find the total number of medals won by each country.**

In [11]:
country = df.groupby('country').sum('total_medal') # grouping country on sum of total medal
country.sort('sum(total_medal)',ascending=False).show(truncate = False) # showing country with total medals

+-------------+----------------+
|country      |sum(total_medal)|
+-------------+----------------+
|United States|1312            |
|Russia       |768             |
|Germany      |629             |
|Australia    |609             |
|China        |530             |
|Canada       |370             |
|Italy        |331             |
|Great Britain|322             |
|France       |318             |
|Netherlands  |318             |
|South Korea  |308             |
|Japan        |282             |
|Brazil       |218             |
|Spain        |205             |
|Norway       |192             |
|Cuba         |188             |
|Sweden       |181             |
|Hungary      |145             |
|Ukraine      |143             |
|Argentina    |139             |
+-------------+----------------+
only showing top 20 rows

## **Who was the oldest athlete in the olympics?**

In [ ]:
oldest = df.sort('age',ascending=False) # sorting age in descending order
oldest_athlete = oldest.limit(1) # taking top 1 observation
oldest_athlete.show() # showing details of oldest athlete

+----------+----+-------+----+----------+----------+----------+------------+-----------+-----------+
|      name| age|country|year|Date_Given|    sports|gold_medal|silver_medal|brone_medal|total_medal|
+----------+----+-------+----+----------+----------+----------+------------+-----------+-----------+
|Ian Millar|61.0| Canada|2008|2008-08-24|Equestrian|         0|           1|          0|          1|
+----------+----+-------+----+----------+----------+----------+------------+-----------+-----------+

### **Which country was he/she from?**

In [ ]:
oldest_athlete.select('country').show() # selecting country of our oldest athlete

+-------+
|country|
+-------+
| Canada|
+-------+